<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="LegacyApp"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ConfirmActivity"
            android:exported="false" />

        <activity
            android:name=".CompleteActivity"
            android:exported="false" />

        <activity
            android:name=".TrackDetailActivity"
            android:exported="false" />

        <!-- Flutter画面を表示するActivity。画面をFlutter化しても増えない。
             テーマはホストアプリ既存のものを指定する（@style/LaunchTheme は
             既存アプリには存在しない）。 -->
        <activity
            android:name=".flutter.FlutterScreenActivity"
            android:theme="@style/FlutterScreenTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

    </application>

</manifest>
